[submodule "ft_gnl"]
	path = ft_gnl
	url = git@github.com:brenohildebrand/ft_gnl.git
[submodule "ft_libft"]
	path = ft_libft
	url = git@github.com:brenohildebrand/ft_libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:brenohildebrand/ft_printf.git
[submodule "ft_fdf"]
	path = ft_fdf
	url = https://github.com/brenohildebrand/ft_fdf
